.env
.*
anaconda3/
condor_binaries/
scripts/binaries/__pycache__/*
__CONDOR__/
plots/production_tests/*
Trigger/RunProductionTest/production/*
Trigger/RunProductionTest/output/*
Trigger/CompareEvents/events.root
scripts/validity-plot/showersim
Simulation/condor
Simulation/Bootstraps/*
Trigger/CompareEvents/*.csv
Trigger/CompareEvents/*.root
thesis/scripts/validity-plot/showersim
antrag/
*.out
*.err
*.log

Trigger/OfflineComparison/make_events/
Trigger/OfflineComparison/th1_fuckups/
Trigger/OfflineComparison/tot_fuckups/
Trigger/OfflineComparison/totd_fuckups/


scripts/CDAS_triggers/io
scripts/CDAS_triggers/sd
scripts/CDAS_triggers/t2
scripts/CDAS_triggers/t3
scripts/CDAS_triggers/utl
scripts/t2dumpanalysis
